        <div class="col-md-9 content">
            <h2>About NWSFS</h2>
            <p style="color:black">Three corporate Officers, the Chair, Vice-Chair and Treasurer, whom serve both SFN and NWSFS, are elected annually in June by the voting NWSFS membership. Additional board members are appointed by these three Officers and the Norwescon Committee is approved by them.</p>
				<h2>History</h2>
            <p style="color:black">NWSFS and Norwescon are part of Science Fiction Northwest (SFN), a non-profit umbrella corporation. The early beginnings of the Northwest Science Fiction Society trace back to the mists of time. Well, to 1976. Greg Bennett with a handful of friends formed NWSFS (pronounced Nizz-Fizz) so that people with an interest in science fiction could meet, have parties, do things together and at the same time provide a pool for the 1981 World Science Fiction Convention Committee. For more information, please visit Don Glover’s  Norwescon Unofficial History web site.</p>

            <h2>About NWSFS Events Socials</h2>
            <p style="color:black">The NWSFS Social is a (mostly) monthly gathering of local Fen that provides the opportunity to get together with fannish friends, as well as providing the potential to make new ones. We all have very hectic lives and the social is chance to kick back and socialize with other people with similar interests.</p>
            <p style="color:black">Typically socials are held in the home of a local member, but occasionally we have socials at local attractions, giving members an excuse to visit cool places like museums for which we all too often don’t have time. Socials can stretch the mind by encouraging intellectual discourse beyond “So what happened at work today?” or “What new antics is your kidlet up to?” While these can be interesting …to some.., fannish minds need more challenging stimuli!</p>
 
            <h2>My Favorite Restaurant</h2>
            <p style="color:black">Once a month a member will choose a restaurant for everyone to come and enjoy a dinner with NWSFS. It is a great way to meet new friends or get in touch with old ones.</p>
 
            <h2>Movie Outings</h2>
            <p style="color:black">NWSFS will pick an upcoming movie and pick a date, time, and location. After the movie we will find a local coffee house or restaurant to get together and talk about the movie.</p>
 
            <h2>Special Events</h2>
            <p style="color:black">Once in a while we’ll go do something special. These “specials” can range from a day trip to visit Mt. St. Helens or a weekend in Las Vegas to a one day bookstore crawl.</p>

            <h2>We have ventured out on:</h2>
            <ul>
            <li>Cruise to Alaska</li>
             <li>VolcanoTrek Tour ( Mt. St. Helens )</li>
             <li>Las Vegas Trek to the Star Trek Exhibit</li>
             <li>Dinner Cruise on Puget Sound</li>
             <li>Budget Harbor Tour (Ferry ride on Puget Sound &amp; a Brown Bag Lunch)</li>
             <li>Cruise to Western Caribbean</li>
 				</ul>

            <p style="color:black">We also had a Snow Day and a movie outing to THX1138 at the Cinerama and each year we have Powell Trek (a yearly shopping trek to Powell’s Book store in Portland ).</p>
            
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			
        </div>
