<div class="col-md-9 content">
   <a id="socials"></a><h2>Monthly Social Dates</h2>
	<p>2016</p>
	<ul class="calendar">
		<li >August 2016: TBD</li>
		<li>September 2016: TBD</li>
		<li>October 2016: Mad Scientist Social, date TBD</li>
		<li>November 2016: TBD</li>
		<li>December 2016: TBD</li>
		<li>January 14, 2017: Social at Rustycon</li>
		<li>February 2017: Spaghetti Sauce Off, date TBD</li>
		<li>March 2017: Philip K. Dick Award Nominee Social, date TBD</li>
		<li>April 13-16, 2017: Visit us at our club table at <a href="http://www.norwescon.org" target="blank">Norwescon 40</a></li>
		<li>May 2017: Officer Nomination Social, date TBD</li>
		<li>June 2017: Annual Picnic, date TBD</li>
		<li>July 2017: Summer Social, date TBD</li>
		<li>August 2017: Annual Picnic, date TBD</li>

	</ul>

	<a id="mfr"></a><h2>My Favorite Restaurant Outings</h2>
	<p>2016</p>
	<ul>
		<li>August 3, 2016, 7PM: <a href="#/currentmfr" target="blank">Elephant and Castle</a></li>
		
	</ul>

	<a id="special"></a><h2>Special Events</h2>

</div>
