<div  class="col-md-9 content">

	<h2>Wednesday, August 3 at 7 PM</h2>
	<p style="color: black">
		Elephant  &amp; Castle (Seattle)<br/>
		<a href="https://binged.it/29QOZ1n" target="_blank">1415 5th Ave, Seattle, Washington 98101</a> 
	</p>
	<p style="color: black">In honor of Anglicon the August NWSFS MFR is at Elephant &amp; Castle. </p>
	<p style="color: black">Join us for Bangers &amp; Mash and Yorkshire Pudding!</p>
	<p style="color: black">Check it out on 
	<a href="https://www.facebook.com/events/497870253742724" target="_blank">Facebook</a>.</p>
 </div>
