<div class="col-md-9 content">

	<h2>Rates:</h2>
	
	<p style="color:black">$15 per year</p>
	<a href="./documents/NWSFSMembershipForm.pdf">Memership Form</a>
	<p style="color:black">The Northwest Science-Fiction Society is a organization run by local fen for the benefit of local 
	fen with the expressed desire to get together and socialize in our increasingly busy society. Member benefits include:</p>
	<ul>
		<li>Invitation to attend and/or host monthly “My Favorite Restaurant” outings.</li>
		<li>Invitation to attend and/or host monthly social get-togethers.</li>
		<li>Invitation to all NWSFS-sponsored outings to museums, theaters and other additional outings. And if NWSFS opens the outing up to include non-NWSFS members, NWSFS members have priority for tickets, etc.</li>
    	<li>Invitation to any room parties that NWSFS sponsors at local area conventions. (You may need to buy a convention membership to attend these events, though you are always encouraged to do so.)</li>
		<li>NWSFS members can receive discounts at various area businesses if they present their NWSFS membership card. This is because NWSFS is a not for profit organization.</li>
		<li>NWSFS members will also have automatic access to both the club’s website, www.nwsfs.com, both the public and any private members-only pages as well as the NWSFS blogs and online communities.</li>
	</ul>
	<p style="color:black">And now for the “softer” benefits that cannot be so easily quantified. NWSFS is run by fen for the benefit of
	 all northwest fen and as such:</p>
	
	<p style="color:black">NWSFS is both a local and regional networking resource for fen both near and far to keep in touch with one another and stay informed on science-fiction happenings in the area.</p>
	
	<p style="color:black">NWSFS is a way for fen to try new restaurants, see museum exhibits and visit all sorts of cool places that they may have always wanted to and have never had the time to do - all in company of close friends!</p>

</div>
