<div class="col-md-9 content">
	<h2>News</h2>
	<h3>Elections - 2016 </h3>
	<p  style="color:black">The ballots were counted June 28th, 2016.</p>
	<p  style="color:black">The results are as follows </p>  
	<p  style="color:black">Chair: Dick O'Shea<br/>
		Abstain - 1<br/>
		Doug Booze - 1<br/>
		Bill Boyde - 1<br/>
		Dick O'Shea - 26
		</p> 

	<p  style="color:black">Vice Chair: Jeanine Swanson<br/>
		Jeanine Swanson - 28 <br/>
		Lisa Woodings - 1
	</p> 
	<p  style="color:black">Treasurer: Peggy Larreau<br/>
	Peggy Larreau - 29   
	</p> 
 
	<p  style="color:black">Our elections committee consisted of Rick Halvorsen (Elections Chair), Jill Halvorsen, and
		 Michael Ormes.  Observing was Dick O'Shea.</p> 

</div>
